* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

}

.intro {
    height: 100vh;
}

.intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.intro h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    color: white;
    font-family: 'Cinzel Decorative', cursive;
}
.intro h2 {
    display: flex;
    justify-content: space-between;
    font-size: 80px;
    letter-spacing:15px;
    color: black;
}

section {
    height: 100vh;
    font-size: 80px;
    color: black;
}
section h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
}

element.style {
}
[class*=sqs-col] .sqs-block {
    padding-left: 17px;
    padding-right: 17px;
}
.sqs-block-html {
    clear: none;
}

.sqs-block {
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
}
user agent stylesheet
div {
    display: block;
}
.index-section-wrapper .content.has-main-media {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding-top: 102px;
    padding-bottom: 102px;
}
#siteWrapper {
    background-color: #fff;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
}
#siteWrapper {
    font-family: "Kameron",Georgia,serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    font-family: "Raleway";
    font-size: 15px;
    line-height: 1.6em;
    letter-spacing: .4px;
    font-weight: 500;
    font-style: normal;
    color: rgba(28,28,28,.9);
}